---
fleet:
  enabled: true
  server:
    host: "{{ fleet_endpoint if cluster_name == 'monitoring-cluster' else '0.0.0.0' }}"
    port: 8220
outputs:
  default:
    type: elasticsearch
    hosts: ["{{ hostvars | selectattr('role', 'equalto', 'data') | map(attribute='ansible_host') | first }}:9200"]
monitoring:
  enabled: true
  logs: true
  metrics: true